body {
  padding-bottom: 2rem;
  font-family: 'Merriweather', serif;
  font-weight: normal;
  font-style: normal;
  color: black;
}

.navbar {
  background-color: #658da7;
}

.navbar button, .navbar button:hover, .navbar button:active {
  background-color: #ca0404;
  color: white;
  font-weight: bold;
}

.navbar a {
    color: white;
}

.navbar-brand {
  font-size: 32px;
  font-weight: bold;
}

.fg-nav-input {
  float: right;
  padding-right: 20px;
  padding-top: 9px;
  text-align: right;
}

.fg-nav-btn {
  color: white;
  background-color: #337ab7;
}

.priority {
  background-color: #ca0404;
}

.office {
  margin-bottom: 50px;
}

.office-name {
  color: #8f0304;
}
